@model IEnumerable<LexiconMDB.Models.Movie>

<h2>@ViewBag.Title</h2>
<b>Genres:</b>
@Html.ActionLink("Horror", "Index", new { orderBy = ViewBag.Orderby, genre = "Horror" })
@Html.ActionLink("Drama", "Index", new { orderBy = ViewBag.Orderby, genre = "Drama" })
@Html.ActionLink("Comedy", "Index", new { orderBy = ViewBag.Orderby, genre = "Comedy" })

<p>
    @Html.ActionLink("Add New Movie", "Add", "Movies", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { orderBy = "title", genre = ViewBag.Genre })
        </th>
        <th>
            @Html.ActionLink("Length", "Index", new { orderBy = "Length", genre = ViewBag.Genre })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metascore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDbTopRated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
      <td>
        @if (item.Length != null)
        {
          @Html.DisplayFor(modelItem => item.Length) <text>mins</text>
        }
      </td>

        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metascore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMDbTopRated)
        </td>
      <td>
        @Html.ActionLink("Edit", "Edit", "Movies", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
        @Html.ActionLink("Remove", "Remove", "Movies", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
      </td>
    </tr>
}

</table>
