@model IEnumerable<LexiconMDB.Models.Movie>

<h2>@ViewBag.Title</h2>
<b>Genres:</b>
@Html.ActionLink("Horror", "Index", new { orderBy = ViewBag.Orderby, genre = "Horror" })
@Html.ActionLink("Drama", "Index", new { orderBy = ViewBag.Orderby, genre = "Drama" })
@Html.ActionLink("Comedy", "Index", new { orderBy = ViewBag.Orderby, genre = "Comedy" })


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { orderBy = "title", genre = ViewBag.Genre })
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        <th>
            @Html.ActionLink("Length", "Index", new { orderBy = "Length", genre = ViewBag.Genre })
            @*<a href="/Movies/Index/?orderby=length">
                @Html.DisplayNameFor(model => model.Length)
            </a>*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
